
  <div class="cart-totals">
      <h3>Cart Totals</h3>
      <form action="#" method="get" accept-charset="utf-8">
          <table>
              <tbody>
                  <tr>
                      <td>Subtotal</td>
                      <td class="subtotal">$ {{subTotal}}</td>
                  </tr>
                  <tr>
                      <td>Total product</td>
                      <td class="free-shipping">{{subItem}}</td>
                  </tr>
                  <tr>
                    <td>Discount</td>
                    <td>{{discount}}</td>
                  </tr>
                  <tr>
                    <td>Tax</td>
                    <td>10%</td>
                  </tr>
                  <tr class="total-row">
                      <td>Total</td>
                      <td class="price-total">$ {{total}}</td>
                  </tr>
              </tbody>
          </table>
          <div class="btn-cart-totals">
              <a href="#" class="update round-black-btn" title="">Update Cart</a>
              <a href="#" class="checkout round-black-btn" title="">Proceed to Checkout</a>
          </div>
          <!-- /.btn-cart-totals -->
      </form>
      <!-- /form -->
  </div>
  <!-- /.cart-totals -->
